.gene {
    background-image: linear-gradient(to bottom right, rgba(245, 237, 1, 1), rgb(255, 255, 255, 0.0)) !important;
    border-radius: 16px !important;
    
    width: 160px;
    height: 35px;

    font-family: 'Plus Jakarta Sans', sans-serif, bold;
    font-weight: bold;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gene > p {
    margin: 5px;
    font-size: 15px;
}