.main-navbar {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.55), rgb(255, 255, 255, 0.2));
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid linear-gradient(to bottom right, rgba(255, 255, 255, 1.00), rgb(255, 255, 255, 0));

    width: 100vw;
    height: 3vw;

    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navbar > * {
    color: white;
    font-family:'Inter', sans-serif, bold;
    font-size: 20px;

    margin-left: 10px;
    margin-right: 10px;
}

.navbar-heading {
    font-weight: bold;
}

.navbar-sitename {
    font-size: 15px;
}