* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.test {
  position: absolute;
  top: 0;

  z-index: 0;
}

.glassmorphism {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.45), rgb(255, 255, 255, 0.1));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid;
  border-image: linear-gradient(to bottom right,rgb(255, 255, 255, 0), rgba(255, 255, 255, 1)) 0;
  border-radius: 5px;
}

.App {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}